.container#conference
  h3.mb-3.font-weight-bold Conference
  table.table.table-bordered.mb-5
    thead.text-center
      tr
        th
        th 301
        th 302
        th 303
        th 401
    tbody
      tr
        th.text-center 13:00<br>〜<br>13:30
        td
          .font-weight-bold Reception
        td rowspan="2"
          .font-weight-bold Close
        td rowspan="2"
          .font-weight-bold Close
        td rowspan="2"
          .font-weight-bold Close
      tr
        th.text-center 13:30<br>〜<br>13:40
        td
          .font-weight-bold Opening Keynote
          a href="https://twitter.com/Mahito"
            | (小倉 真人 - @Mahito)
      tr
        th.text-center 13:50<br>〜<br>14:20
        td
          a href="#webauthnModal" data-toggle="modal" data-target="#webauthnModal"
            .font-weight-bold 入門WebAuthn：安全・便利な新しいWeb認証方式
            | (能島 良和)
        td rowspan="6"
          .font-weight-bold Showcase
          a href="#ElastickStackModal" data-toggle="modal" data-target="#ElastickStackModal"
            .font-weight-bold Kibana Canvasでオシャレに可視化してみた
            | (川崎 裕香, 山下 城司, 西園 直人, 大塚 一喜)
          br
          br
          a href="#MuscleDomeModal" data-toggle="modal" data-target="#MuscleDomeModal"
            .font-weight-bold マッスルドーム
            | (原 啓介)
          br
          br
          a href="#LagopusModal "data-toggle="modal" data-target="#LagopusModal"
            .font-weight-bold Lagopus Software Router/Switch
            | (日比 智也, 高橋 宏和, 市川 潤記)
          br
          br
          a href="#ServiceFunctionCainingModal" data-toggle="modal" data-target="#ServiceFunctionCainingModal"
            .font-weight-bold Service Function ChainingをGoogleHomeとStackStormで音声制御してみた
            | (奥田 兼三, 岩本 裕真, 中村 真美)
        td rowspan="2"
          a href="#ProgramingChallengeModal" data-toggle="modal" data-target="#ProgramingChallengeModal"
            .font-weight-bold 競技プログラミングを体験してみよう！
            | (西田 尚平)
        td
          a href="#SD-WAN-Modal" data-toggle="modal" data-target="#SD-WAN-Modal"
            .font-weight-bold Software-Defined時代のAPI開発の裏（SD-NS編）
            | (渡邉 佑典)
      tr
        th.text-center 14:30<br>〜<br>15:00
        td
          a href="#WebRTCModal" data-toggle="modal" data-target="#WebRTCModal"
            .font-weight-bold 細かくて伝わらないWebRTC API
            | (岩瀬 義昌)
        td
          a href="#MakerModal" data-toggle="modal" data-target="#MakerModal"
            .font-weight-bold Makerのすすめ
            | (原 啓介)
      tr
        th.text-center 15:00<br>〜<br>15:20
        td
          a href="#CoffeeAskTheSpeakerModal" data-toggle="modal" data-target="#CoffeeAskTheSpeakerModal"
            .font-weight-bold Coffee Break & Ask the Speaker
        td
          a href="#CoffeeAskTheSpeakerModal" data-toggle="modal" data-target="#CoffeeAskTheSpeakerModal"
            .font-weight-bold Coffee Break & Ask the Speaker
        td
          a href="#CoffeeAskTheSpeakerModal" data-toggle="modal" data-target="#CoffeeAskTheSpeakerModal"
            .font-weight-bold Coffee Break & Ask the Speaker
      tr
        th.text-center 15:20<br>〜<br>15:50
        td
          a href="#BlockChainModal" data-toggle="modal" data-target="#BlockChainModal"
            .font-weight-bold ブロックチェーンはどう役に立つのだろうか
            | (田所 貴弘)
        td rowspan="3"
          a href="#MakerModal" data-toggle="modal" data-target="#IdeaCreateWorkshopModal"
            .font-weight-bold アイデア創出体験ワークショップ
            | (濱口 菜々, 齋藤 千夏, 片桐 有理佳)
        td
          a href="#SmileEnergyModal" data-toggle="modal" data-target="#SmileEnergyModal"
            .font-weight-bold 分かるIoTとサーバレス～太陽光発電設備の遠隔監視～
            | (宮地 俊騎)
      tr
        th.text-center 16:00<br>〜<br>16:30
        td
          a href="#RENAT-Modal" data-toggle="modal" data-target="#RENAT-Modal"
            .font-weight-bold RENAT - ネットワーク検証自動化フレームワーク
            | (グエン ホウ バツ)
        td
          a href="#HomeComputingEnvironmentModal" data-toggle="modal" data-target="#HomeComputingEnvironmentModal"
            .font-weight-bold 自宅のコンピューティング環境について-No.1
            | (綿貫 順一)
      tr
        th.text-center 16:40<br>〜<br>17:10
        td
          a href="#KamueeModal" data-toggle="modal" data-target="#KamueeModal"
            .font-weight-bold DPDKを用いた高速ソフトウェアルータKamueeの設計
            a href="https://twitter.com/slankdev"
              | (城倉 弘樹 - @slankdev)
        td
          a href="#NTTG-SecurityModal" data-toggle="modal" data-target="#NTTG-SecurityModal"
            .font-weight-bold CTFから始めるセキュリティ生活
            | (岩崎 圭佑)
      tr
        th.text-center 17:10<br>〜<br>17:30
        td
          a href="#AskTheSpeakerModal" data-toggle="modal" data-target="#AskTheSpeakerModal"
            .font-weight-bold Ask the Speaker
        td rowspan="2"
          .font-weight-bold Close
        td rowspan="2"
          .font-weight-bold Close
        td
          a href="#AskTheSpeakerModal" data-toggle="modal" data-target="#AskTheSpeakerModal"
            .font-weight-bold Ask the Speaker
      tr
        th.text-center 17:30<br>〜<br>17:50
        td
          .font-weight-bold Closing Keynote
        td
          .font-weight-bold Close
