.modal.fade#BeyondCTF-CryptoModal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .card
        .card-header
          button.close data-dismiss="modal" aria-label="Close"
            span
              i.fa.fa-times
          span.font-weight-bold 暗号解析中級編 (Beyond CTF-Crypto)
        .card-body
          p.card-text
            | CTFでは扱われないような暗号方式の解読について解説・実践します。
            | NISTの耐量子計算機暗号標準化プロジェクトの候補暗号をいくつかピックアップし、参加者の皆さんと暗号解読を行います。
            | 持ち込みPC又はCoCalc (SageMathやPandas等を使えるWebサービス,
            | <a class="card-link" href="https://cocalc.com/"> "https://cocalc.com/" </a>
            | を利用して問題を解くことが出来ます。
        .card-footer
          img.rounded-circle src="http://via.placeholder.com/64x64"
          span.ml-3 草川 恵太 - 日本電信電話
          p.card-text.mt-3
            | 暗号屋見習い（1級）。NTTセキュアプラットフォーム研究所所属


.modal.fade#P4Modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .card
        .card-header
          button.close data-dismiss="modal" aria-label="Close"
            span
              i.fa.fa-times
          span.font-weight-bold P4ハンズオン
        .card-body
          p.card-text
            | P4は、ネットワーク機器のパケット処理をプログラムすることを目的に開発された言語です。
            | プログラマブルなスイッチASICの登場などを背景に、従来のOpenflowに比べて新しいプロトコルの導入が早く、
            | 柔軟性が高いデータプレーン技術として急速に注目を浴びています。
            | 本ワークショップでは、P4の初心者を対象にして、P4を使うと出来るようになること・NTT研究所での取り組みなど、
            | これまでの検討で得られた知見を紹介します。
            br
            | また Github上の<a class="card-link" href="https://github.com/p4lang/tutorials">P4 Tutorial</a>をベースに
            | 実際にP4コードに触れながら、P4の動かし方について説明を行います。
        .card-footer
          img.rounded-circle src="http://via.placeholder.com/64x64"
          span.ml-3 武井 勇樹 - 日本電信電話
          p.card-text.mt-3
            | 最近は、ネットワークのエッジルータの仮想化に向けて、P4・ハードウェアアクセラレータなどをやっています。
            | ネットワークサービスシステム研究所所属


.modal.fade#VisualCommunicationModal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .card
        .card-header
          button.close data-dismiss="modal" aria-label="Close"
            span
              i.fa.fa-times
          span.font-weight-bold ビジュアルコミュニケーション研修
        .card-body
          p.card-text
            | ミーティングやインタビューの中でビジュアルを効果的に用いることによって、お客さまとの距離を近くすることができます。
            br
            | 対象：ビジュアルをミーティングに活用したいと思っている方ならどなたでも。
            br
            | ハンズオンの内容：
            li グラレコ／グラファシ／ビジュアルコミュニケーション各々の説明およびそれらの違いについて
            li グラレコ基礎（プロッキーの持ち方から、線の描き方、似顔絵の描き方まで）
            li インタビュー（お客さまとのやりとり）でのビジュアルコミュニケーション実践
        .card-footer
          img.rounded-circle src="http://via.placeholder.com/64x64"
          span.ml-3 嵯峨田 良江 - NTTコミュニケーションズ
          p.card-text.mt-3
            | ビジュアルコミュニケーションを社内に啓発しようと活動中
          img.rounded-circle src="http://via.placeholder.com/64x64"
          span.ml-3 斉藤 久美子 - NTTコミュニケーションズ
          p.card-text.mt-3
            | グラフィックレコーディングに出会ったことをきっかけに、
            | 嵯峨田と一緒にビジュアルコミュニケーションの社内啓発に取り組んでいる
