.container#workshop
  h3.mb-3.font-weight-bold Workshop
  table.table.table-bordered.mb-5
    thead.text-center
      tr
        th
        th 301
        th 302
        th 303
    tbody
      tr
        th.text-center 9:30<br>〜<br>10:00
        td
          .font-weight-bold Reception
        td
          .font-weight-bold Reception
        td
          .font-weight-bold Reception
      tr
        th.text-center 10:00<br>〜<br>11:50
        td
          a href="#BeyondCTF-CryptoModal" data-toggle="modal" data-target="#BeyondCTF-CryptoModal"
            .font-weight-bold 暗号解析中級編 (Beyond CTF-Crypto)
            | (草川 恵太)
        td
          a href="#P4Modal" data-toggle="modal" data-target="#P4Modal"
            .font-weight-bold P4ハンズオン
            | (武井 勇樹)
        td
          a href="#VisualCommunicationModal" data-toggle="modal" data-target="#VisualCommunicationModal"
            .font-weight-bold ビジュアルコミュニケーション研修
            | (嵯峨田 良江, 斉藤 久美子)
