.tab-pane#showcase role="tabpanel"
  ul.timeline
    li
      .timeline_time datetime="2017-01-27 14:10"
        span 14:10 - 17:20
      .timeline_icon
        i.fa.fa-ship
      .timeline_label
        h4 FPGAアクセラレータを用いたスイッチレスネットワーク
        p Session description

      .timeline_icon
        i.fa.fa-ship
      .timeline_label
        h4 NFVにおいてセキュリティ機能をオートスケールするプロトタイプの紹介
        p Session description

      .timeline_icon
        i.fa.fa-ship
      .timeline_label
        h4 E2D3デモ
        p Session description

      .timeline_icon
        i.fa.fa-ship
      .timeline_label
        h4 Java 障害解析支援ツール HeapStats
        p Session description
