.tab-pane.active#timetable role="tabpanel"
  ul.timeline
    li#table-entry1
      .timeline_time datetime="2017-01-27 13:30"
        a.jump jump-to-tab="ttable"
          span 13:30-14:00
      .timeline_icon
        i.fa.fa-ship
      .timeline_label
        h4 Opening Keynote
        img.photo src="images/photos/301_1.jpg"

    li#table-entry2
      .timeline_time datetime="2017-01-27 14:10"
        a.jump jump-to-tab="ttable"
          span 14:10-14:30
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4: a.jump jump-to-tab="r301" target="#conf1" Docker コミュニティ近況
          p 須田瑛大 - 日本電信電話株式会社
          img.photo src="images/photos/301_2.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r302" target="#forb1" NTT Database Summit - PostgreSQL 10: What to look for?
          p Amit Langote - NTT OSSセンタ
          img.photo src="images/photos/302_2.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r401" target="#unconf1" NTT Developersが語る"DevOps"の今とこれから
          p 小倉真人 - NTTコミュニケーションズ
          p 石井久治 - 日本電信電話株式会社
          img.photo src="images/photos/401_2.jpg"

    li#table-entry3
      .timeline_time datetime="2017-01-27 14:40"
        a.jump jump-to-tab="ttable"
          span 14:40-15:00
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4: a.jump jump-to-tab="r301" target="#conf2" Building secure Docker containers
          p Kunal Kushwaha - 日本電信電話株式会社
          img.photo src="images/photos/301_3.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r302" target="#forb2" NTT Database Summit - Database Security for PCIDSS
          p 大山真実 - NTT OSSセンタ
          img.photo src="images/photos/302_3.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r401" target="#unconf1" NTT Developersが語る"DevOps"の今とこれから
          p 小倉真人 - NTTコミュニケーションズ
          p 石井久治 - 日本電信電話株式会社
          img.photo src="images/photos/401_3.jpg"

    li#table-entry4
      .timeline_time datetime="2017-01-27 15:20"
        a.jump jump-to-tab="ttable"
          span 15:00-15:20
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4: a.jump jump-to-tab="r301" target="#conf3" おやつタイム
          img.photo src="images/photos/301_4.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r302" target="#forb3" NTT Database Summit - Free Discussion Time
          p 藤井 雅雄 - NTTデータ
          p Amit Langote - NTT OSSセンタ
          p 大山真実 - NTT OSSセンタ
          p 澤田雅彦 - NTT OSSセンタ
          img.photo src="images/photos/302_4.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r401" target="#unconf2" おやつタイム
          img.photo src="images/photos/401_4.jpg"

    li#table-entry5
      .timeline_time datetime="2017-01-27 15:20"
        span 15:20-15:40
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4: a.jump jump-to-tab="r301" target="#conf4" 分散処理技術のスタンダードHadoopやSparkの本当のところを教えます！
          p 鯵坂明 - NTTデータ
          img.photo src="images/photos/301_5.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r302" target="#forb4" シェル芸で学ぶDevOps実践入門
          p
            | 石井久治 - 日本電信電話株式会社
            br
            a.external-link href="https://github.com/hisaharu/shellgei/blob/master/slides/techconf1/lib/md/index.md" target="_blank"
              i.fa.fa-external-link aria-hidden="true" title="資料"
              | 発表資料
            img.photo src="images/photos/302_5.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r401" target="#unconf3" NTTG新人座談会
          p 萬治渉 - NTTソフトウェア
          p 堀内晨彦 - NTTコミュニケーションズ
          img.photo src="images/photos/401_5.jpg"
    li#table-entry6
      .timeline_time datetime="2017-01-27 15:50"
        a.jump jump-to-tab="ttable"
          span 15:50-16:10
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4: a.jump jump-to-tab="r301" target="#conf5" Apache BigtopによるDockerコンテナ上へのHadoopソフトウェアスタックの導入
          p 関堅吾 - NTTデータ
          img.photo src="images/photos/301_6.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r302" target="#forb5" AWSのEC2 Container Service (ECS)とSpotFleetで新規ビジネスのトライアル
          p 須藤悠 - NTTソフトウェア
          img.photo src="images/photos/302_6.jpg"
        .col-sm
          h4: a.jump jump-to-tab="r401" target="#unconf3" NTTG新人座談会
          p 萬治渉 - NTTソフトウェア
          p 堀内晨彦 - NTTコミュニケーションズ
          img.photo src="images/photos/401_6.jpg"

    li#table-entry7
      .timeline_time datetime="2017-01-27 16:20"
        a.jump jump-to-tab="ttable"
          span 16:20-16:40
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4: a.jump jump-to-tab="r301" target="#conf6" Deconstruction of Serverless and Blockchain
          p 林田貴宏 - NTTコムウェア
          img.photo src="images/photos/301_7.jpg"
        .col-sm
          h4: a.jump jump-to-tab="r302" target="#forb6" ブロックチェーンの仕組みと動向(入門編)
          p 北條真史 - NTTデータ
          img.photo src="images/photos/302_7.jpg"
        .col-sm
          h4: a.jump jump-to-tab="r401" target="#unconf4" OSSコミッタの生活とその必要性
          p
            | 市原裕史 - 日本電信電話株式会社
            br
            a.external-link href="http://www.slideshare.net/hichihara/oss-71450183" target="_blank"
              i.fa.fa-external-link aria-hidden="true" title="資料"
              | 発表資料
            img.photo src="images/photos/401_7.jpg"
    li#table-entry8
      .timeline_time datetime="2017-01-27 16:50"
        a.jump jump-to-tab="ttable"
          span 16:50-17:10
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4: a.jump jump-to-tab="r301" target="#conf7" ドコモのビッグデータ分析環境の開発と運用を内製でやってる話
          p 伊吹勇郎 - NTTドコモ
          img.photo src="images/photos/301_8.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r302" target="#forb7" あなたとBot、今すぐChatOps
          p
            | 堀内晨彦 - NTTコミュニケーションズ
            br
            a.external-link href="https://esa-pages.io/p/sharing/4975/posts/55/c1098e81cfa3e924a46d-slides.html#/" target="_blank"
              i.fa.fa-external-link aria-hidden="true" title="資料"
              | 発表資料
            span
              |  
            a.external-link href="https://speakerdeck.com/ladicle/slack-bot" target="_blank"
              i.fa.fa-external-link aria-hidden="true" title="発表資料2"
              | 発表資料2
            img.photo src="images/photos/302_8.jpg"

        .col-sm
          h4: a.jump jump-to-tab="r401" target="#unconf4" OSSコミッタの生活とその必要性
          p
            | 市原裕史 - 日本電信電話株式会社
            br
            a.external-link href="http://www.slideshare.net/hichihara/oss-71450183" target="_blank"
              i.fa.fa-external-link aria-hidden="true" title="資料"
              | 発表資料
            img.photo src="images/photos/401_8.jpg"


    li#table-entry9
      .timeline_time datetime="2017-01-27 17:20"
        span 17:20-17:50
      .timeline_icon
        i.fa.fa-ship
      .timeline_label
        h4 Closing Keynote
        p
          img.photo src="images/photos/301_9.jpg"
