.tab-pane#room401 role="tabpanel"
  ul.timeline
    li
      .timeline_time datetime="2017-01-27 14:10"
        span 14:10-15:00
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4 NTT Developersが語る"DevOps"の今とこれから
    li
      .timeline_time datetime="2017-01-27 15:00"
        span 15:00-15:20
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4 おやつタイム
    li
      .timeline_time datetime="2017-01-27 15:20"
        span 15:20-16:10
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4 NTTG新人座談会
    li
      .timeline_time datetime="2017-01-27 16:20"
        span 16:20-17:10
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4 OSSコミッタの生活とその必要性
