.container#registration
  h3.font-weight-bold.mb-3 Registration
  | WorkshopおよびConferenceへの参加には登録が必要になります。以下のリンクから登録ページへ移動できます。
  ul
    li
      a href="https://ntt-techconf.connpass.com/event/161866/"
        | here