//--------------------------------------------------
// Project
//--------------------------------------------------

@import url(https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@400;700&display=swap);

//--------------------------------------------------
// / Override
//--------------------------------------------------

$font-sans: "M PLUS 2", sans-serif;
$option-css-variables: true;
$selector-root-dark: "body";
$selector-root-dark-attr: '&[data-theme="dark"]';
$selector-root-light: "body";
$selector-root-light-attr: '&[data-theme="light"]';
$theme-info: #f5f5dc;
$theme-primary: #0072bc;

//--------------------------------------------------
// / Configs
//--------------------------------------------------

//@import "musubii/src/scss/configs/_import.scss";
@import "../../node_modules/musubii/src/scss/configs/import";
@import "configs/_import.scss";

//--------------------------------------------------
// / Styles
//--------------------------------------------------

//@import "musubii/src/scss/styles/_import.scss";
@import "../../node_modules/musubii/src/scss/styles/import";
@import "styles/_import.scss";
