//--------------------------------------------------
// Components: Tabby
// https://github.com/cferdinandi/tabby/blob/master/dist/css/tabby-ui.css
//--------------------------------------------------

[role="tablist"] {
  border-bottom: $global-border-width solid $convert-border;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    &:not(:first-child) {
      [role="tab"] {
        margin-left: 0.5em;
      }
    }
  }
}

[role="tab"] {
  border: $global-border-width solid transparent;
  border-top-left-radius: $radius-md;
  border-top-right-radius: $radius-md;
  display: inline-block;
  margin-bottom: -$global-border-width;
  padding: 0.5em 1em;
  text-decoration: none;

  &[aria-selected="true"] {
    border-bottom-color: $convert-body-background-color;
    border-left-color: $convert-border;
    border-right-color: $convert-border;
    border-top-color: $convert-border;
  }

  &:hover:not([aria-selected="true"]) {
    background-color: $convert-background-2;
    border-color: $convert-border;
  }
}

[hidden] {
  display: none;
}
