// http://www.colourlovers.com/palette/497335/Limeade_on_Ice
$main-color-dark: #59a80f;
$main-color-normal: #8ac039;
$main-color-light: #b3e14d;

$info-color-normal: #eb6841;
$external-color-normal: #eb6841;
