/*
 * Mplus 1p (Japanese) https://fonts.google.com/earlyaccess
 */
@font-face {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Thin.eot);
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Thin.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Light.eot);
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Light.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Regular.eot);
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Medium.eot);
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Medium.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Medium.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Medium.woff) format('woff'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Bold.eot);
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Black.eot);
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Black.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Black.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Black.woff) format('woff'),
       url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Black.ttf) format('truetype');
}
