@import 'variables';

body {
  font-family: 'Mplus 1p' !important;
}

a {
  color: $main-color-normal;
}

a.presenter {
  color: white;
}

a.jump:hover {
  cursor: pointer;
}

a:hover {
  color: $main-color-dark;
}

.title {
  color: $main-color-dark;
  letter-spacing: 5px;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: $main-color-light;
  font-size: 0.8rem;
  letter-spacing: 5px;
}

.description {
  line-height: 1.8em;
}

.separator {
  border-top: 1px solid $main-color-light;
  width: 75%;
  margin: 0 auto;
}

.info {
  color: $info-color-normal;
}

.alert-info {
  color: $info-color-normal;
  border-color: $info-color-normal;
  background-color: lighten($info-color-normal, 35%);
}
