.tab-pane#room301 role="tabpanel"
  ul.timeline
    li#keynote1
      .timeline_time datetime="2017-08-10 13:00"
        a.jump jump-to-tab="ttable" target="#table-entry1"
          span 13:00-13:30
      .timeline_icon
        i.fa.fa-train
      .timeline_label
        .col-sm
          h4
            a.jump jump-to-tab="ttable" Opening Keynote
          a.external-link href="https://www.slideshare.net/td-nttcom/ntt-tech-conference-2-opening-keynote" target="_blank"
            i.fa.fa-external-link.mr-05 aria-hidden="true" title="資料"
            | 発表資料

    li#conf1-1
      .timeline_time datetime="2017-08-10 13:40"
        a.jump jump-to-tab="ttable" target="#table-entry2"
          span 13:40-14:05
      .timeline_icon
        i.fa.fa-train
      .timeline_label.row
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry2" StackStormのイロハ、最新の活用事例の紹介
          p
            | Workflow Engineの中でも近年注目されているStackStormについて、他のWorkflow Engineと比較した優位性、活用事例などを紹介します。
          ul
            li StackStormの設計思想
            li Jenkins Pipelineとの比較
            li 最近の開発動向
            li 活用事例をいくつか
          br
          p
            | セッションレベル: 中級
          p
            | Tags: DevOps, Network, OSS
          br
          p
            | 萬治 渉 - NTTテクノクロス
          p
            | 研究所と共同でStackStormによるNW構築自動化などの開発、検証などをやってます。
          a.external-link href="https://speakerdeck.com/ntttechnocross/ntt-techconference-number-2-stackstorm" target="_blank"
            i.fa.fa-external-link.mr-05 aria-hidden="true" title="資料"
            | 発表資料

    li#conf1-2
      .timeline_time datetime="2017-08-10 14:15"
        a.jump jump-to-tab="ttable" target="#table-entry3"
          span 14:15-14:40
      .timeline_icon
        i.fa.fa-train
      .timeline_label.row
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry3" 自前でCloudFoundryを構築してgooのビッグサービスをカットオーバーした話
          p
            | NTTレゾナントにて運用しているクラウド基盤(OpenStack)上に、日本CloudFoundryユーザ会会長のご助力を得ながら、CloudFoundryを自前で導入し、商用サービスをカットオーバーした際の観点や試行錯誤した苦労話を語ります。
            | 具体的には以下のような内容をご説明します。
          ul
            li 自社サービスを鑑みた提供サービスの最適化について (独自Buildpackの提供)
            li CloudFoundryの監視環境について (Prometheusを利用した監視環境の構築)
          br
          p
            | セッションレベル: 中級
          p
            | Tags: Cloud, Container, OSS
          br
          p
            | 大木 和也, 通山 和裕 - NTTレゾナント
          p
            | NTTレゾナントにてクラウド基盤の運用・改善業務を行っています。
          p
            a.external-link href="https://www.slideshare.net/KazuyaOhki/cloud-foundrygoo" target="_blank"
              i.fa.fa-external-link aria-hidden="true" title="資料"
              | 発表資料

    li#conf1-3
      .timeline_time datetime="2017-08-10 14:50"
        a.jump jump-to-tab="ttable" target="#table-entry4"
          span 14:50-15:15
      .timeline_icon
        i.fa.fa-train
      .timeline_label.row
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry4" Large Scale Jirou Classification
          p
            | ディープラーニングによるラーメン二郎全店舗のラーメン画像識別を例に、学習および利用時のインタフェース(Slack、Twitter)に関するノウハウや失敗事例を共有します。
          br
          p
            | セッションレベル: 中級
          p
            | Tags: Machine Learning
          br
          p
            | 土井 賢治(
            a.presenter href="https://twitter.com/knjcode" @knjcode
            | ) - NTTコムウェア
          p
            | ビジネスインキュベーション本部
          a.external-link href="https://www.slideshare.net/knjcode/large-scale-jirou-classification" target="_blank"
            i.fa.fa-external-link.mr-05 aria-hidden="true" title="資料"
            | 発表資料

    li#conf1-4
      .timeline_time datetime="2017-08-10 15:15"
        a.jump jump-to-tab="ttable" target="#table-entry5"
          span 15:15-15:35
      .timeline_icon
        i.fa.fa-train
      .timeline_label.row
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry5" おやつタイム

    li#conf1-5
      .timeline_time datetime="2017-08-10 15:35"
        a.jump jump-to-tab="ttable" target="#table-entry6"
          span 15:35-16:00
      .timeline_icon
        i.fa.fa-train
      .timeline_label.row
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry6" 分散システムについて語らせてくれ
          p
            | 実世界で使われている分散システムを構成する際に理解してほしい議論についてkumagiが一人で滔々と語る。
          br
          p
            | セッションレベル: 初級
          p
            | Tags: Cloud, Distributed System
          br
          p
            | 熊崎 宏樹(
            a.presenter href="https://twitter.com/kumagi" @kumagi
            | ) - 日本電信電話
          p
            | データベースの研究をしている。
          a.external-link href="https://www.slideshare.net/kumagi/ss-78765920" target="_blank"
            i.fa.fa-external-link.mr-05 aria-hidden="true" title="資料"
            | 発表資料

    li#conf1-6
      .timeline_time datetime="2017-08-10 16:10"
        a.jump jump-to-tab="ttable" target="#table-entry7"
          span 16:10-16:35
      .timeline_icon
        i.fa.fa-train
      .timeline_label.row
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry7" 高速にコンテナを起動できるイメージフォーマット
          p
            | 現行のDocker・OCIイメージフォーマットでは、イメージ全体をpullし終わるまで、コンテナを起動できない。
            | 本セッションでは、実際にアクセスが発生するまでpullを遅延することで、従来よりも高速にコンテナを起動できる、新しいコンテナイメージフォーマットを提案する。
            br
            a.external-link href="https://github.com/AkihiroSuda/filegrain" target="_blank"
              i.fa.fa-external-link.mr-05 aria-hidden="true" title="filegrain"
              | https://github.com/AkihiroSuda/filegrain
          br
          p
            | セッションレベル: 中級
          p
            | Tags: Cloud, Container, OSS
          br
          p
            | 須田 瑛大(
            a.presenter href="https://twitter.com/_AkihiroSuda_" @_AkihiroSuda_
            | ) - 日本電信電話
          p
            | Moby (旧Docker) コアメンテナ。
          a.external-link href="https://www.slideshare.net/AkihiroSuda/ntt-tech-conference-2" target="_blank"
            i.fa.fa-external-link.mr-05 aria-hidden="true" title="資料"
            | 発表資料

    li#conf1-7
      .timeline_time datetime="2017-08-10 16:45"
        a.jump jump-to-tab="ttable" target="#table-entry8"
          span 16:45-17:10
      .timeline_icon
        i.fa.fa-train
      .timeline_label.row
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry8" イケてない開発チームがイケてる開発を始めようとする軌跡
          p
            | Enterprise人材のもと、誰もやったことのないAgileによって開発が始まった。
            | イケてるとは間違っても言えない開発から少しずつランクアップしているその軌跡を共有します。
            | 飛び交うバズワード、積み上がるExcel、それでも私は戦う。
            | だって大企業でもイケてるWeb開発がしたいから!!
          br
          p
            | セッションレベル: 初級
          p
            | Tags: Application, DevOps
          br
          p
            | 藤原 峻輝(
            a.presenter href="https://twitter.com/renjikari" @renjikari
            | ) - NTTコミュニケーションズ
          p
            | 新卒二年目 雑多エンジニア。
          a.external-link href="https://www.slideshare.net/td-nttcom/ss-78907822" target="_blank"
            i.fa.fa-external-link.mr-05 aria-hidden="true" title="資料"
            | 発表資料

    li#keynote2
      .timeline_time datetime="2017-08-10 17:20"
        a.jump jump-to-tab="ttable" target="#table-entry9"
          span 17:20-17:50
      .timeline_icon
        i.fa.fa-train
      .timeline_label
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry9" Closing Keynote
          a.external-link href="https://www.slideshare.net/td-nttcom/ntt-tech-conference-2-closing" target="_blank"
            i.fa.fa-external-link.mr-05 aria-hidden="true" title="資料"
            | 発表資料
