.tab-pane#room401 role="tabpanel"
  ul.timeline
    li#unconf1
      .timeline_time datetime="2017-08-10 13:40"
        a.jump jump-to-tab="ttable" target="#table-entry2"
          span 13:40-14:05
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry2" インフラエンジニアが使うJupyter
          p
            | 科学技術計算・データ分析の分野で著名なJupyterですが、システム構築に携わるエンジニアの間では普及途上という状況かと思います。
            | 本セッションでは、講演者が通常の業務の中でJupyterを利用した方法を紹介し、主にインフラエンジニアがシステム構築・運用の現場でどのような使い方ができるかを考えます。
            | すでにJupyterをがんがん使っている方から、これから使ってみたいけど疑問/不安がある方まで、幅広い参加者の間で議論できればいいなと思っています。
          br
          p
            | 鳥越 淳 - 日本電信電話
          p
            | 2009年よりNTTデータにて、HadoopやOpenStackの案件導入・運用に携わる。
            | 2016年からNTT OSSセンタにてPostgreSQLの検証・サポート業務を担当中。

    li#unconf2
      .timeline_time datetime="2017-08-10 14:15"
        a.jump jump-to-tab="ttable" target="#table-entry3"
          span 14:15-16:00
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry3" OSS 開発コミュニティ参加のお誘い -NTT グループの OSS 活動例-
          p
            | 昨今、業務で OSS を利用することは珍しくなくなり、それにつれOSSを支えるコミュニティとの関わりも重要になってきます。今後、自分達が OSS 開発コミュニティに参加するとしたらどのようにすれば良いのでしょうか。
            | 本セッションでは NTT グループで OSS コミュニティ活動を仕事(の一部)にしている人達から、コミュニティにどのように参加したのか、どのように貢献しているのかを紹介します。この他、初心者はどのように参加するのが良いのか、コミュニティに参加してみて楽しいことや困ったことはあるのかなどなど、ひたすら聞いてみたり参加者で語り合いましょう
          br
          p
            | 鯵坂 明 - NTTデータ
          p
            | Apache Hadoop PMC member
          p
            | 市原 裕史 - 日本電信電話
          p
            | OpenStack Neutron Core Reviewer
          p
            | 久保田 祐史 - 日本電信電話
          p
            | OpenJDK Author
          p
            | 澤田 雅彦 - 日本電信電話
          p
            | PostgreSQL Contributor
          p
            | 松下 正樹 - NTTコミュニケーションズ
          p
            | Ruby Committer


    li#unconf3
      .timeline_time datetime="2017-08-10 16:10"
        a.jump jump-to-tab="ttable" target="#table-entry7"
          span 16:10 - 17:00
      .timeline_icon
        i.fa.fa-ship
      .timeline_label.row
        .col-sm
          h4
            a.jump jump-to-tab="ttable" target="#table-entry7" UXデザインのすゝめ
          p
            | 「UI/UX」という言葉がソフトウェア開発現場においてしばしば登場しますが、UIデザインに比べてUXデザインでは設計対象の領域が明らかに広くなります。そのため、UXデザインを考えるときは、フロントエンドエンジニアに限らず、チーム全員がUXを意識して作業を進められることが大事になります。そこで本セッションでは、UXデザインの概要と効果を説明した上で、NTTでの事例を交えながら、チームでUX品質の高いサービス・プロダクトを生むために必要なことを、なるべくエンジニア目線でディスカッションしていく予定です。UXの素人から玄人まで、いろいろな方にご参加いただければ幸いです！
          br
          p
            | 草野 孔希 - NTT EV研
          p
            | 後藤 拓也 - ドコモ・システムズ
          p
            | 岩田 裕平 - NTTコミュニケーションズ

