//--------------------------------------------------
// Variables: Global
//--------------------------------------------------

$global-transition-mode-change: background 0.12s ease-in-out,
  color 0.12s ease-in-out !default;
$global-z-index-box-actions: 100 !default;
$global-z-index-modal-overay: 200 !default;
