@import 'variables';

body {
  font-family: 'Ubuntu', 'Rounded Mplus 1c' !important;
}

.about {
  line-height: 1.8rem;
}

a {
  color: $gold-normal;
}

a:hover {
  color: $gold-dark;
}

.container>h3 {
  padding-top: 4rem;
  margin-top: -4rem;
}
